<a href="https://colab.research.google.com/github/beingshivam/Data-Analytics-Learning_practise/blob/master/imdb_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
imdb = pd.read_csv('IMDB_data.csv', skiprows= [1])

In [0]:
#drop null values
imdb.dropna(inplace=True)

In [68]:
imdb.head(5)

                                                Plot  ...                     Language
0  Despite his tarnished reputation after the eve...  ...  English
2                                                  0  ...                            0
4  Based on the novel written by Stephen Chbosky,...  ...    English
6  Mike Lane is a thirty-year old living in Tampa...  ...    English
8  When Bond's latest assignment goes gravely wro...  ...    English

[5 rows x 9 columns]

In [69]:
imdb.describe()

                                                     Plot  ...                   Language
count                                                1832  ...                       1832
unique                                               1827  ...                          5
top     Free-thinking Johnny Case finds himself betrot...  ...  English
freq                                                    2  ...                       1535

[4 rows x 9 columns]

In [70]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1832 entries, 0 to 6740
Data columns (total 9 columns):
Plot          1832 non-null object
Title         1832 non-null object
imdbVotes     1832 non-null object
Poster        1832 non-null object
imdbRating    1832 non-null object
Genre         1832 non-null object
imdbID        1832 non-null object
Year          1832 non-null object
Language      1832 non-null object
dtypes: object(9)
memory usage: 143.1+ KB

In [71]:
imdb.columns

Index(['Plot', 'Title', 'imdbVotes', 'Poster', 'imdbRating', 'Genre', 'imdbID',
       'Year', 'Language'],
      dtype='object')

In [72]:
imdb.shape

(1832, 9)

In [73]:
imdb.size

16488

In [0]:
#Unique Genres

Genres = imdb.Genre.unique()

In [75]:
#total unique Genres
len(Genres)

203

In [76]:
#Genres index keys

Genres[0]

'Action, Thriller'

In [80]:
imdb.dtypes

Plot          object
Title         object
imdbVotes     object
Poster        object
imdbRating    object
Genre         object
imdbID        object
Year          object
Language      object
dtype: object

In [0]:
#changing datatype of imdbVotes column -> 1: Some values contain ',' so we need to remove them 1st

#imdb['imdbVotes'] = imdb['imdbVotes'].astype(int)

imdb.imdbVotes = imdb.imdbVotes.replace([','], [''], regex=True)

In [0]:
imdb['imdbVotes'] = imdb['imdbVotes'].astype(float)

In [113]:
imdb.dtypes

Plot           object
Title          object
imdbVotes     float64
Poster         object
imdbRating    float16
Genre          object
imdbID         object
Year           object
Language       object
dtype: object

In [0]:
#changing dtype of imdb Rating column -> float16

imdb['imdbRating'] = imdb['imdbRating'].astype(float)

In [115]:
imdb.dtypes

Plot           object
Title          object
imdbVotes     float64
Poster         object
imdbRating    float64
Genre          object
imdbID         object
Year           object
Language       object
dtype: object

In [116]:
#sort the Genres by name

imdb['Genre'].sort_values()

2                                                       0
2516                                               Action
4520                                               Action
870                                                Action
2286                                               Action
1898                                               Action
5078                                               Action
5608                                               Action
738                                                Action
1844                                               Action
5352                                               Action
5058                                               Action
2622                                               Action
3230                                               Action
5176                                               Action
1194                                               Action
598                                                Action
3690                                               Action
5052                                               Action
1386                                    Action, Adventure
5856                                    Action, Adventure
6100    Action, Adventure, Biography, Drama, History, ...
6066            Action, Adventure, Comedy, Crime, Musical
6190    Action, Adventure, Comedy, Drama, Fantasy, Mus...
6310    Action, Adventure, Comedy, Drama, Musical, Thr...
6044                    Action, Adventure, Comedy, Horror
5922         Action, Adventure, Comedy, Romance, Thriller
6398                      Action, Adventure, Crime, Drama
6302              Action, Adventure, Crime, Drama, Family
6298            Action, Adventure, Crime, Drama, Thriller
                              ...
2198                                    Mystery, Thriller
4278                                    Mystery, Thriller
1446                                    Mystery, Thriller
5688                                    Mystery, Thriller
400                                     Mystery, Thriller
5288                                    Mystery, Thriller
2558                                    Mystery, Thriller
364                                     Mystery, Thriller
4572                                    Mystery, Thriller
6126                                    Mystery, Thriller
6144                                      Romance, Sci-Fi
868                                                Sci-Fi
2646                                               Sci-Fi
2252                                               Sci-Fi
3430                                               Sci-Fi
1440                                               Sci-Fi
6304                                               Sci-Fi
3196                                               Sci-Fi
5072                                               Sci-Fi
272                                                Sci-Fi
3850                                               Sci-Fi
5452                                               Sci-Fi
6084                                                Sport
2984                                                Sport
3272                                                Sport
5534                                                Sport
1278                                                Sport
3240                                                Sport
5896                                    Thriller, Mystery
6158                                  War, Drama, Romance
Name: Genre, Length: 1832, dtype: object

In [0]:
#e.	Create new variable whose values should be square of difference between imdbrating and imdbvotes.

df_var = (imdb['imdbRating'] - imdb['imdbVotes'])**2

In [120]:
df_var

0       6.786025e+06
2       0.000000e+00
4       1.437601e+06
6       6.395841e+06
8       3.024121e+06
10      3.097600e+06
12      2.184484e+06
14      6.911641e+06
16      3.129361e+06
18      4.153444e+06
20      3.240000e+06
22      6.922161e+06
24      6.922161e+06
38      2.890000e+06
46      6.922161e+06
50      1.094116e+06
54      6.922161e+06
56      5.736025e+06
60      6.922161e+06
62      6.922161e+06
64      4.206601e+06
66      3.101121e+06
68      4.986289e+06
70      5.909761e+06
72      4.145296e+06
74      3.323329e+06
78      1.243225e+06
80      6.922161e+06
84      6.906384e+06
88      6.922161e+06
            ...
6398    1.747658e+07
6400    1.204916e+09
6402    1.294591e+06
6410    3.041536e+06
6456    2.598519e+04
6466    3.475982e+06
6482    2.108883e+06
6484    1.166400e+04
6502    6.288614e+03
6508    1.180262e+06
6510    1.566583e+05
6514    5.190336e+07
6516    1.015466e+06
6518    4.575307e+07
6546    4.595865e+06
6552    1.263148e+06
6554    3.014049e+06
6558    1.194214e+06
6560    9.790005e+06
6574    1.383684e+06
6588    7.329099e+05
6602    8.443111e+06
6626    2.075333e+06
6640    8.202407e+04
6652    5.369883e+06
6668    6.888533e+06
6682    3.927519e+05
6706    2.159454e+05
6728    4.191247e+05
6740    2.007110e+03
Length: 1832, dtype: float64